/* Ember supports ploain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

:root {
  /* Colors */
  --bg-color: #DBF5FF;
  --text-box-text-color: #003E57;
  --text-box-border-color: #003E57;
  --text-bg-color: #F2FAFD;
  --text-color: #0b3242; /* #00161F;i */
  --title-color: #006994;
  --button-text-color: #1613AC;
  --form-bg-color: #F2FAFD;
  --accent-color: #1613AC;


  /* font-family */
  --title: 'Lilita One', sans-serif;
  /* --text: 'DM Sans'; */
  --text: Roboto;
  /* --info: Lato; */
  --info: Roboto;
  --form-subtitle: 'Roboto Mono';
  --form-text: 'Roboto Flex';
}

* {
   box-sizing: border-box;
 }

html {
  height: 100vh;
}

body {
  position: relative;
  background-color: var(--bg-color);
  min-height: 100vh;
}

.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 96%;
  min-height: 100vh;
  margin: auto;
}

.center-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.update {
  /* display: grid; */
  /* place-content: center; */
  font-family: var(--info);
  color: var(--accent-color);
  font-size: 0.8rem;
  font-weight: 500;
}

.title {
  font-family: var(--title);
  font-weight: 700;
  color: var(--title-color);
  font-size: 2.8rem;
}

h1{
  font-family: var(--title);
}

.searchbox {
  margin-top: 25%;
  border-radius: 8;
}

.enquiry {
  font-size: 0.8rem;
  font-family: Roboto;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: #05171f;
}

.title-container {
  margin-top: 4rem;
  position: relative;
  display: grid;
  place-content: center;
  place-items: center;
  /* margin-bottom: 0; */
}

.title-container p {
  width: 80%;
  background-color: #b9e3f3;
  /* background-color: var(--title-color); */
  letter-spacing: 0.1rem;
  padding: 0.4rem;
  margin: 0.8rem 0;
  border-radius: 0.5rem;
  font-family: Lato;
  line-height: 1.2rem;
  font-size: 0.8rem;
  font-weight: 450;
  text-align: center;
  /* color: #ffffff; */
}

.title-container h1 {
  margin-bottom: 0;
}

.footer-container {
  min-width: 100%;
  margin-top: auto;
}

/* .content-container { */
/*   display: grid; */
/*   justify-content: center; */
/*   justify-items: center; */
/* } */

/* .disclaimer { */
/*   display: flex; */
/*   flex-direction: column; */
/*   font-family: var(--info); */
/*   margin-bottom: 1rem; */
/* } */

/* .disclaimer p { */
/*   font-size: 1.5rem; */
/*   color: var(--text-color); */
/*   margin: 2; */
/*   /1* margin-top: 0.5rem; *1/ */
/*   border: 0; */
/* } */

/* .disclaimer h4 { */
/*   margin: 0; */
/*   margin-top: 3rem; */
/*   margin-bottom: 4; */
/*   color: var(--accent-color); */
/* } */

div.container-homepage {
  margin: 0;
}

.container-homepage {
  position: relative;
  display: grid;
  place-content: center;
  place-items: center;
  margin: 0;
}

.intro p {
  text-align: center;
  font-family: var(--text);
  font-size: 0.9rem;
  color: var(--text-color);
  width: 80%;
}

input {
  width: 21rem;
  height: 2.2rem;
  border-radius: 0.4rem;
  border-color: var(--title-color);
  text-align: center;
}

.edit-button {
  margin: 1rem 0rem 2rem;
}

.item-selected {
  text-align: center;
  font-family: var(--info);
  color: var(--title-color)
}

.form {
  color: var(--title-color);
}

.form-subtitle {
  color: var(--accent-color);
}

/* h1.form-header { */
/*   font-size: 0.88rem; */
/*   color: var(--title-color); */
/*   font-weight: 900; */
/*   font-family: var(--form-subtitle); */
/* } */

h2.form-header {
  font-size: 1.2rem;
  color: var(--title-color);
  font-weight: 900;
  font-family: var(--title);
}

.brand-text {
  font-family: var(--info);
  /* color: var(--text-color); */
}

.table-head {
  background-color: #cfecf7;
  color: var(--title-color);
}

.form-alignment {
  display: grid;
  place-content: center;
  place-items: center;
}

.table-result {
  font-family: Lato;
}

.table-result  > tbody tr td:last-of-type {
  min-width: 80%;
}

.search-result-page {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 0.8rem;
}

.form-page {
  margin-top: 1.2rem;
  display: grid;
  justify-content: center;
}

.selected-item table caption {
  font-style: normal;
  font-size: 0.9rem;
  letter-spacing: 0.09rem;
}

.duty-page {
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  font-size: 0.9rem;
  row-gap: 0.9rem;
}

.tippy-box[data-theme~='tippyTheme'] {
  background-color: #0b3242;
  font-size: 0.75rem;
  font-family: 'Roboto Mono';
  font-weight: 450;
}


