/* Ember supports ploain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

:root {
  /* Colors */
  --bg-color: #DBF5FF;
  --text-box-text-color: #003E57;
  --text-box-border-color: #003E57;
  --text-bg-color: #F2FAFD;
  --text-color: #0b3242; /* #00161F;i */
  --title-color: #006994;
  --button-text-color: #1613AC;
  --form-bg-color: #F2FAFD;
  --accent-color: #1613AC;


  /* font-family */
  --title: 'Lilita One';
  --text: 'DM Sans';
  --info: Lato;
  --form-subtitle: 'Roboto Mono';
  --form-text: 'Roboto Flex';
}
* {
   box-sizing: border-box;
 }
html {
  height: 100vh;
}

body {
  position: relative;
  background-color: var(--bg-color);
  min-height: 100vh;
  /* min-width: 375px; */
}

.page-container {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 96%;
  margin: auto;
}

.center-display {
  display: flex;
  align-items: center;
  justify-content: center;
}

.update {
  font-family: var(--info);
  color: var(--accent-color);
}

.title {
  margin-top: 36%;
  /* font-family: var(--title); */
  font-weight: 700;
  color: var(--title-color);
  font-size: 2.2rem;
  /* text-shadow: 4px 4px 4px #6c6c6c; */
}

.searchbox {
  margin-top: 10%;
  border-radius: 8;
}

.enquiry {
  margin-top: 70%;
  font-size: 1.0rem;
  font-family: var(--info);
  color: #0b3242;
}

.page-container {
  position: relative;
  min-height: 100vh;
  /* min-width: 375px; */
  display: flex;
  flex-direction: column;
}

.footer-container {
  min-width: 100%;
  margin-top: auto;
}

/* .content-container { */
/* } */

.disclaimer {
  display: flex;
  flex-direction: column;
  font-family: var(--info);
  margin-bottom: 1rem;
}

.disclaimer p {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 2;
  /* margin-top: 0.5rem; */
  border: 0;
}

.disclaimer h4 {
  margin: 0;
  margin-top: 3rem;
  margin-bottom: 4;
  color: var(--accent-color);
}

div.container-homepage {
  margin: 0;
}

.container-homepage {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.intro p {
  text-align: center;
  font-family: var(--text);
  font-size: 0.9rem;
  color: var(--text-color);
  width: 80%;
}

input {
  width: 21rem;
  height: 2.2rem;
  border-radius: 0.4rem;
  border-color: var(--title-color);
  text-align: center;
}

input[type=search] {
  font-family: var(--info);
  font-size: 1.0rem;
  color: var(--text-color);
}

.edit-button {
  margin: 1rem 0rem 2rem;
}

.item-selected {
  text-align: center;
  font-family: var(--info);
  color: var(--title-color)
}

.form {
  color: var(--title-color);
}

.form-subtitle {
  color: var(--accent-color);
}

h1.form-header {
  font-size: 0.8rem;
}

.brand-text {
  font-family: var(--info);
  /* color: var(--text-color); */
}

.hover-effect tr:hover {
  /* background-color: #cfecf7; */
  background-color: #f2fafd;
}

.table-head {
    background-color: #cfecf7;
    color: var(--title-color);
}

.form-alignment {
  display: grid;
  /* flex-direction: column; */
}

/* @media only screen and (min-width: 800px) { */
/*   .form-alignment { */
/*     margin-left: 10%; */
/*   } */

/* } */

/* @media only screen and (min-width: 1100px) { */
/*   .form-alignment { */
/*     margin-left: 20%; */
/*   } */

/* } */

.table-result {
  font-family: Lato;
}

.search-result-page {
  display: grid;
  justify-content: center;
  gap: 0.8rem;
}

.form-page {
  display: grid;
  justify-content: center;
}

.duty-page {
  height: 100%;
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  font-size: 0.9rem;
  row-gap: 0.9rem;
}

.tippy-box[data-theme~='tippyTheme'] {
  background-color: #0b3242;
}


