<section>
  <Duty::Home />
</section>
<section>
  <div>
    <h5 class='form'>Data Supplied</h5>
  </div>
  <div>
    <Duty::Supplied />
  </div>
</section>
<section>
  <div>
    <h5 class='form'>Estimated Duty</h5>
  </div>
  <div>
    <Duty::Estimated />
  </div>
</section>
