<div>
  <section>
    <div class="center-display">
      <h1>Form</h1>
    </div>
    <div class="center-display">
      <table class="pure-table pure-table-horizontal">
        <tr>
          <td>
            CET Code
          </td>
          <td>
            {{@model.CETcode}}
          </td>
        </tr>
        <tr>
          <td>
            Description
          </td>
          <td>
            {{@model.description}}
          </td>
        </tr>
      </table>
    </div>
  </section>
  <section class="center-display">
    <pre>Edit</pre>
  </section>
  <section>
    <Form />
  </section>
</div>
