<div class="container-homepage center-display">
  <section class="update">
    <p > Updated On: {{@model.updatedDate}} </p>
  </section>
  <section class='title-container'>
    <div>
      <h1 class="center-display title">Duty Calculator</h1>
    </div>
    <div class="intro center-display">
      <p>
        for calculating the custom duty of the goods being imported into Nigeria
      </p>
    </div>
  </section>
  <section class="searchbox">
    <div >
      <Input 
        @value="Type the name or tariff code here"
      />
    </div>
  </section>
  <section class="enquiry">
    <p class=center-display> for enquiry, contact info@dutycalculator.ng </p>
  </section>
</div>
