<section>
  <p class="update">Update: {{@updatedDate}} </p>
</section>
<section>
  <div>
    <h1 class="title">Duty Calculator</h1>
  </div>
  <div>
    <p class="intro">
      for calculating the custom duty of the goods being imported into Nigeria
    </p>
  </div>
  <section>
    <Input />
  </section>
  <section>
    <p class="enquiry">
      for enquiry, contact info@dutycalculator.ng
    </p>
  </section>
</section>
