<div class="container-homepage">
  <section class="update">
    <p>Current as of: {{@model.last}} </p>
  </section>
  <section class='title-container'>
      <h1 class="title">Duty Calculator</h1>
        <p>
          A tool for calculating the custom duty of the goods imported into Nigeria
        </p>
  </section>
  <section class="searchbox">
    <Search />
  </section>
  <section class="enquiry">
    <p> for enquiry, info@dutycalculator.ng </p>
  </section>
</div>
